/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

nav {
    position: fixed;
    z-index:1;
}
nav img {
    width:200px;
}